{
  "compilerOptions": {
    "target": "es6",
    "module": "commonjs",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "moduleResolution": "node",
    "outDir": "./dist",
    "typeRoots": ["./node_modules/@types"],
    "include": ["src/**/*"],
    "exclude": ["node_modules"]
  },
  "include": ["src/**/*"],
  "exclude": ["node_modules"]
}
